<div class="example-container">
  <mat-toolbar>{{title}}</mat-toolbar>

  <mat-form-field>
    <input matInput [(ngModel)]="user.email" placeholder="Correo" type="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="user.password" placeholder="Contraseña" type="password">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="password" placeholder="Reinserte contraseña" type="password">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="user.sex" placeholder="Sexo">
      <mat-option value="0">Seleccione</mat-option>
      <mat-option value="1">Femenino</mat-option>
      <mat-option value="2">Masculino</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [(ngModel)]="user.direction" placeholder="Direccion"></textarea>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button (click)="create()" color="primary">Guardar</button>
  </div>
</div>